/*.avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    -webkit-border-radius: 900px;
    -moz-border-radius: 900px;
    -ms-border-radius: 900px;
    -o-border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}

.pub_image{
    margin-bottom: 25px;
}

.pub_image .container-avatar{
    float:left;
    margin-right: 15px;
}

.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}

.pub_image .nickname{
    color:gray;
}

.image-container{
    width: 70%;
    max-height: 400px;
    overflow: hidden;
}

.image-container img{
    width: 70%;
}

.pub_image .card-body{
    padding: 0px;
}*/